@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .animate-fadeIn {
    animation: fadeIn 1s forwards;
  }
  
  .animate-slideIn {
    animation: slideIn 0.5s forwards;
    animation-delay: 0.5s; /* Delay for the first paragraph */
  }
  
  .animate-slideIn:nth-child(2) {
    animation-delay: 1s; /* Delay for the second paragraph */
  }